<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Events</h1>
  <button (click)="btnClick()">Cick here</button>
  <br><br>
  <button (click)="btnClick2('message')">Pass parameter</button>
  <br><br>
  <input type="text" #box1 (keyup)="getData(box1.value)" placeholder="key up"/>
  <br><br>
  <input type="text" #box2 (keydown)="getData(box2.value)" placeholder="key up"/>
  <br><br>
  <input type="text" #box3 (blur)="getData(box3.value)" placeholder="blur box"/>
  <br><br>
  <input type="text" #box4 (input)="getData(box4.value)" placeholder="input"/>
  <br><br>
  <h2 (mouseover)="getData('mouse over')">Mouse over event</h2>
  <br><br>
  <h2 (mouseleave)="getData('mouse leave')">Mouse leave event</h2>
  <br><br>
  <input type="text" #box5 (input)="showData(box5.value)" placeholder="Type something"/>
  <b>{{msg}}</b>
  <br><br>
</body>
</html>