<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <!-- Simple if condition -->
  <h2 *ngIf="show">I am techworldthink</h2>

  <!-- Simple if else condition -->
  <h2 *ngIf="show else elseBlock1">I am techworldthink</h2>
  <ng-template #elseBlock1>
    <h2>Sign in first</h2>
  </ng-template>

  <!-- Simple if else condition -->
  <h2 *ngIf="show; then ifBlock2 else elseBlock2">I am techworldthink</h2>
  <ng-template #ifBlock2>
    <h2>Sign in first</h2>
  </ng-template>
  <ng-template #elseBlock2>
    <h2>Sign in first</h2>
  </ng-template>

  <!-- Simple if else condition -->
  <h2 *ngIf="show2=='yes'; then ifBlock3 else elseBlock3">I am techworldthink</h2>
  <ng-template #ifBlock3>
    <h2>show2=yes</h2>
  </ng-template>
  <ng-template #elseBlock3>
    <h2>Sign in first</h2>
  </ng-template>

  <!-- Simple if elseif else condition -->
  <ng-template [ngIf]="color==='red'">
    <h1>Red</h1>
  </ng-template>
  <ng-template [ngIf]="color==='green'">
    <h1>Green</h1>
  </ng-template>

</body>

</html>