input{
    padding: 10px;
}
button{
    padding: 8px;
    margin: 1em;
    border: none;
    background-color: cadetblue;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
button:disabled,
button[disabled]{
  background-color: #e1dede;
  color: #bebebe;
  cursor: not-allowed;
}