<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>
<body>
    <form action="login" method="POST">
        {% csrf_token %}
        <input type="text" name="uname" placeholder="user name"><br>
        <input type="password" name="pass" placeholder="password"><br>
        <input type="submit" name="login" value="Login"><br>
    </form>
    <div>
        {% for message in messages %}
        <h3>{{ message }} </h3>
        {% endfor %}
    </div>
</body>
</html>