<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Base html</title>
    <style>
        .container{
            width: 80%;
            margin-left: 10%;
            margin-right: 10%;
            background-color: rgba(11, 160, 135, 0.445);
            text-align: center;
            display: flex;
            flex-direction:column;
        }
    </style>
</head>
<body>
    <div class="container">
    {% block content %}

    {% endblock %}
    </div>
</body>
</html>