<h1>Forms</h1>
<ul>
  <li>Template driven form</li>
  <li>Reactive form</li>
</ul>

<h2>Template form example</h2>
<form #loginForm="ngForm" (ngSubmit)="loginUser(loginForm.value)">
  <input type="text" ngModel name="name" placeholder="Name" pattern="[a-zA-Z]+$" required #name="ngModel" />
  <br />
  <span *ngIf="name.invalid && name.touched">Please enter valid input</span>
  <br />
  <input type="password" ngModel name="pass" placeholder="Password" minlength="2" required #pass="ngModel"/>
  <br />
  <span *ngIf="pass.invalid && pass.touched">Please enter valid input</span>
  <br />
  <button [disabled]="loginForm.invalid">Login</button>
</form>
<button (click)="loginUser(loginForm.value)">Outside Login</button>