<div class="container">
    <h1 class="text-primary">Employee Details</h1>
    <br>
    <button class="btn btn-primary" (click)="onClick()">Add Employee</button>
    <hr style="color:red;border: 2px solid red;">
    <table class="table table-striped table-bordered">
        <tr>
            <th>Employee id</th>
            <th>Name</th>
            <th>Gender</th>
            <th>Age</th>
            <th>Salary</th>
            <th style="text-align: center;">Action</th>
        </tr>
        <tr *ngFor="let employee of employees">
            <td>{{employee.id}}</td>
            <td>{{employee.name}}</td>
            <td>{{employee.gender}}</td>
            <td>{{employee.age}}</td>
            <td>{{employee.salary}}</td>
            <td>
                <a href="/delete/{{employee.id}}">Delete</a>
                |
                <a href="/update/{{employee.id}}">Update</a>
            </td>
        </tr>
    </table>
    <hr style="color:red;border: 2px solid red;">
</div>
