th,td{
    text-align: center;
    font-weight:100;
    border: 1px solid white;
}


table td {
    position: relative;
  }
  
  table td .td{
    position: absolute;
    display: block;
    top:0;
    left:0;
    margin: 0;
    height: 75%;
    width: 75%;
    border: noe;
    margin: 1em;
    padding: 5px;
    box-sizing: border-box;
  }

.ls-tr{
   /* border:2px solid black;*/
    padding:2em;
    
}
.ls-tb{
    margin-left:auto;
    margin-right:auto;
    width:75%;
    position:initial;
}
.r4-sub{
    text-align: center;
    margin: 1em;
    padding:1em; 
}
.ls-td{
    padding: 1em;
   /* border:2px solid black;*/
}
footer{
    height: 2em;
    background-color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    border-top: 1px solid black;
}
h5{
    color: green;
    font-size: small;
    margin-top: auto;
    margin-bottom: auto;
}

.sub{
background-color: green;
color: white;
border: 2px solid green;
border-radius:5px;
outline: none;
}
.reset{
    background-color:red;
    color: white;
    border-radius:5px;
    text-decoration: none;
    border: 1px solid red;
    outline: none;
}
button{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: block;
    border: none;
    background-color: white;
    outline: none;
}
button:focus{
    border: none;
    background-color: white;
    outline: none;
}

li{
    list-style-type: none;
}