<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style>
        a{
            display: block;
        }
    </style>
</head>
<body>
    <h3>Home page</h3>
    <a href="/hello" target="_blank"> /hello  </a>
    <a href="/greet/techworldthink" target="_blank"> /greet/techworldthink  </a>
    <a href="/post/12" target="_blank">/post/12  </a>
    <a href="/demoapp" target="_blank">/demoapp - urls of another application  </a>
    <a href="/articles/12" target="_blank">/articles/12 -  regular expression</a>
</body>
</html>