<h1>Forms</h1>
<ul>
  <li>Template driven form</li>
  <li>Reactive form</li>
</ul>

<h2>Reactive form example</h2>
<form [formGroup]="loginForm" (ngSubmit)="loginUser()">
  <input type="text" placeholder="Name" formControlName="user"/>
  <br />
  <span *ngIf="user && user.invalid && user.touched">this input field is not valid</span>
  <br />
  <input type="password" placeholder="Password" formControlName="pass"/>
  <br />
  <span *ngIf="pass && pass.invalid && pass.touched">this input field is not valid</span>
  <br />
  <button [disabled]="loginForm.invalid">Login</button>
</form>