.error {
    color: red;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.primary {
    color: #1629cf;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}