* {
  padding: 0;
  margin: 0;
}
html,body{
    height: 100%;
}
.banner{
    height: 100%;
    background: url("../images/banner.jpg");
    background-repeat: no-repeat;
    background-position:center ;
    background-size: cover;
    background-attachment: fixed;
}
.banner-black-transparent{
 background-color: rgba(0,0,0,.7);
 height: 100%;
}

