<h1>Pipes Basics</h1>

<ul>
  <li>{{message}}</li>
  <li>{{message | uppercase}}</li>
  <li>{{message | lowercase}}</li>
  <li>{{date | date}}</li>
  <li>{{date | date:'fullDate'}}</li>
</ul>

<h1>Pipes Advance</h1>
<ul>
  <li>{{message | slice :3:8}}</li>
  <li>{{user | json}}</li>
  <li>{{user | json | uppercase}}</li>
  <li>{{003.3500 | number:'1.2-3'}}</li>
  <li>{{100 | currency}}</li>
  <li>{{100 | currency:'INR'}}</li>
</ul>

<h1>Pipes Custome</h1>
<!--
  ng g p pipes/usdInr 
-->
<ul>
  <li>{{30 | usdInr:80}}</li>
</ul>