<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <form action="" method="POST">
        {% csrf_token %}
        <input type="text" name="fname" placeholder="first name"><br>
        <input type="text" name="lname" placeholder="last name"><br>
        <input type="text" name="uname" placeholder="user name"><br>
        <input type="email" name="email" placeholder="email"><br>
        <input type="password" name="pass1" placeholder="password"><br>
        <input type="password" name="pass2" placeholder="retype password"><br>
        <input type="submit" name="register" value="Register"><br>
    </form>
    <div>
        {% for message in messages %}
        <h3>{{ message }} </h3>
        {% endfor %}
    </div>
</body>
</html>